body {
    font-weight: 100;
}

.header {
    transition: all 0.4s ease;
}

.b-0 {
    border: 0px;
}

.b-left-5px {
    border-left: 5px solid;
}

.br-top-left-5px {
    border-top-left-radius: 5px;
}

.br-top-right-5px {
    border-top-right-radius: 5px;
}

.br-bottom-left-5px {
    border-bottom-left-radius: 5px;
}

.br-bottom-right-2px {
    border-bottom-right-radius: 2px;
}

.b-bottom-1px {
    border-bottom: 1px solid;
}

.br-1 {
    border-radius: 1px;
}

.br-2 {
    border-radius: 2px;
}

.br-3 {
    border-radius: 3px;
}

.br-4 {
    border-radius: 4px;
}

.br-5 {
    border-radius: 5px;
}

.br-10 {
    border-radius: 10px;
}

.br-15 {
    border-radius: 15px;
}

.br-25 {
    border-radius: 25px;
}

.br-30 {
    border-radius: 30px;
}

.br-50 {
    border-radius: 50px;
}

.br-80 {
    border-radius: 80px;
}

.brp-0 {
    border-radius: 0%;
}

.brp-25 {
    border-radius: 25%;
}

.brp-50 {
    border-radius: 50%;
}

.brp-100 {
    border-radius: 100%;
}

.line-h-24px {
    line-height: 24px;
}

.w-80p {
    width: 80%;
}

.w-60p {
    width: 60%;
}

.w-40p {
    width: 40%;
}

.w-20p {
    width: 20%;
}

.w-200px {
    width: 200px;
}

.w-250px {
    width: 250px;
}

.w-115p {
    width: 115%;
}

.w-130p {
    width: 115%;
}

.mxw-auto {
    max-width: auto !important;
}

.mxw-185px {
    max-width: 185px;
}

.mxw-200px {
    max-width: 200px;
}

.mxw-250px {
    max-width: 250px;
}

.hxw-auto {
    max-height: none !important;
}

.obj-cover {
    object-fit: cover;
}

.z-index-999 {
    z-index: 999;
}

.transition-0-3 {
    transition: 0.3s;
}

.c-pointer {
    cursor: pointer !important;
}

@media screen and (max-width: 575px) {
    .col-xs {
        flex: 1 0 0%;
    }
}

@media screen and (min-width: 1291px) {
    .w-alt-lg-115p {
        width: 115%;
    }
}

/* Hover effects */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    transition: color .5s ease !important;
    background: #fedb01 !important; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #14142b !important; 
}

.top-0px {
    top: 0px;
}

.bottom-0px {
    bottom: 0px;
}