.c-white {
    color: #ffffff !important;
}

.c-black {
    color: #000000 !important;
}

.c-grey {
    color: #8c8c95 !important;
}

.c-orange {
    color: #dda162 !important;
}

.c-blue-hover:hover {
    color: #3f69ff !important;
}

.bd-black {
    border-color: #000000 !important;
}

.bd-white {
    border-color: #ffffff !important;
}

.bd-gray {
    border-color: #8c8c95 !important;
}

.bd-gray-light {
    border-color: #c2c2c2 !important;
}

.bd-gray-light-2 {
    border-color: #e2e3e9 !important;
}

.bg-black {
    background-color: #000000 !important;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-gray {
    background-color: #eff0f6 !important;
}

.bg-gray-2 {
    background-color: #f7f7f7 !important;
}

.bg-gray-3 {
    background-color: #e5e5e5 !important;
}

.bg-gray-3-95op {
    background-color: #e5e5e5f2 !important;
}

.bg-yellow {
    background-color: #fedb01 !important;
}

.bg-brown {
    background-color: #dda162 !important;
}

.bg-brown-dark-37op {
    background-color: #4c07055e !important;
}

.bg-brown-dark-95op {
    background-color: #4c0705f2 !important;
}

.bg-blue-dark {
    background-color: #14142b !important;
}

.bg-light-dark {
    background-color: #c4c4c4;
}

.bg-light-dark-2 {
    background-color: #e0dcdb;
}

.bg-youtube {
    background-color: #c4302b;
}

.bg-google {
    background-color: #d24736;
}

.bg-facebook {
    background-color: #3e5b98;
}

.bg-twitter {
    background-color: #4da7de;
}

.bg-twitter-second {
    background-color: #dd4b39;
}

.bg-pinterest {
    background-color: #c92619;
}

.bg-envelope {
    background-color: #134785;
}

.c-black-placeholder::placeholder {
    color: #000000;
    opacity: 1; /* Firefox */
}

.c-black-placeholder:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000000;
}

.c-black-placeholder::-ms-input-placeholder { /* Microsoft Edge */
    color: #000000;
}

ul.ul-yellow {
    list-style: none;
}

ul.ul-yellow li::before {
    content: "\2022";
    color: #fedb01;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    display: inline-block;
    width: 25px;
    margin-left: -1em;
}

@media screen and (min-width: 768px) {
    .bg-md-white {
        background-color: #fff!important;
    }
}

@media screen and (min-width: 768px) {
    .bg-md-white {
        background-color: #fff!important;
    }
}

/* --- Hover effects --- */

.c-black-hover:hover {
    color: #000000 !important;
}

.c-blue-hover:hover {
    color: #3f69ff !important;
}